<script>
export default {
  name: 'CiCdAnalyticsApp',
};
</script>
<template>
  <div>
    <!-- eslint-disable @gitlab/vue-require-i18n-strings -->
    <h1 class="gl-font-size-h2">This page is a placeholder</h1>
    <p>
      If you're seeing this page, it's because you've enabled the
      <code>group_ci_cd_analytics_page</code> feature flag.
    </p>
    <!-- eslint-enable @gitlab/vue-require-i18n-strings -->
  </div>
</template>
